 version: '2'
 services:
   db:
     image: mdillon/postgis
     volumes:
      - .data/postgres:/var/lib/postgresql/data
   web:
     build: .
     command: python manage.py runserver 0.0.0.0:8001
     volumes:
       - .:/code
     ports:
       - "8001:8001"
     depends_on:
       - db
