.me-avatar {
    text-align: center;
    margin-top: 30px;
}

.weui-media-box__meta {
    color: #616363;
    font-size: 13px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.center {
    text-align: center;
}

.qr_image {
    width: 50%;
    height: 50%;
}

.avatar-big {
    width: 160px;
}


.share__title{text-align:center;font-size:20px;font-weight:400}

.share__desc{margin-top:5px;color:#888;text-align:center;font-size:14px}
