<div class="weui-tab">
    <div class="weui-tab__panel">

    </div>
    <div class="weui-tabbar">
        <a href="landing.html" class="weui-tabbar__item{% if current_tab == 'hangout' %} weui-bar__item_on{% endif %}">
            <img src="/static/wechat/example/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">已约</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item{% if current_tab == 'index' %} weui-bar__item_on{% endif %}">
            <img src="/static/wechat/example/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">约起</p>
        </a>
        <a href="me.html" class="weui-tabbar__item{% if current_tab == 'me' %} weui-bar__item_on{% endif %}">
            <img src="/static/wechat/example/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
</div>