<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="/static/wechat/css/weui.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/wechat/css/hangout.css"/>
    <link rel="stylesheet" href="/static/wechat/example/example.css"/>
</head>
<body ontouchstart>
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>

<div class="container" id="container">
    <div class="page js_show">
        <div class="page__hd">
            <a href="{% url 'hangout.edit' %}" class="weui-btn weui-btn_primary">新建</a>
        </div>
        <div class="page__bd">
            <div class="weui-cells__title">历史模板</div>
            <div class="weui-cells">
                {% for template in templates %}
                <a class="weui-cell weui-cell_access" href="{% url 'hangout.edit' %}?template_id={{ template.id }}">
                    <div class="weui-cell__hd"><img src="{{ template.user.userinfo.avatar_url }}" alt="" style="width:20px;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>{{ template.title }}</p>
                    </div>
                    <div class="weui-cell__ft">{{ template.used_count }}次使用</div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'hangout/_tabbar.html' with current_tab="index" %}
</div>
</body>
</html>
