<div class="banner">
    <div class="bannerList" onclick="location='/wechat/'">
        <div class="bannerImg">
            {% if active != 'zuixin' %}
                <img src="/static/wechat/image/icon/normal/zuixin01.png"/>
            {% else %}
                <img src="/static/wechat/image/icon/active/zuixin03.png"/>
            {% endif %}
        </div>
    </div>
    <div class="bannerList" onclick="location='/wechat/ranks/'">
        <div class="bannerImg">
            {% if active != 'paihang' %}
                <img src="/static/wechat/image/icon/normal/paihang01.png"/>
            {% else %}
                <img src="/static/wechat/image/icon/active/paihang03.png"/>
            {% endif %}
        </div>
    </div>
    <div class="bannerList">
        <div class="bannerImg">
            <label>
                {% if active != 'fatu' %}
                    <img src="/static/wechat/image/icon/normal/fatu01.png"/>
                {% else %}
                    <img src="/static/wechat/image/icon/active/fatu03.png"/>
                {% endif %}
                <input type="file" accept="image/*" class="classInput" />
            </label>
        </div>
    </div>
    <div class="bannerList" onclick="location='/wechat/discover'">
        <div class="bannerImg">
            {% if active != 'faxian' %}
                <img src="/static/wechat/image/icon/normal/faxian01.png"/>
            {% else %}
                <img src="/static/wechat/image/icon/active/faxian03.png"/>
            {% endif %}
        </div>
    </div>
    <div class="bannerList" onclick="location='/wechat/mine/'">
        <div class="bannerImg">
            {% if active != 'geren' %}
                <img src="/static/wechat/image/icon/normal/geren01.png"/>
            {% else %}
                <img src="/static/wechat/image/icon/active/geren03.png"/>
            {% endif %}
        </div>
    </div>
</div>
