<div class="modal" style="display: none;">
    <div class="uploadModal">
        <div class="button">
            确认截图 >
        </div>
        <div class="selectArea">
            <img id="currentUploadImage" class="img" src="/static/wechat/image/fishImg.png"/>
        </div>
        <div class="description">
            截取照片中最想展现的部分
        </div>
    </div>
</div>
<div class="imgSure" style="display: none;">
    <div class="imgBackground">
        <div class="button" id="imgSureButton">
            确认开晒 >
        </div>
        <div class="fourImg">
            <div id="lastDiv">
                <label>
                    <img src="/static/wechat/image/upload.png"/>
                    <input class="classInput" type="file" style="display: none"/>
                </label>
            </div>
        </div>
        <textarea id="imgSureText" class="imgText" placeholder="输入您想说的话......"></textarea>
    </div>
</div>
