<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小鱼</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <script src="/static/wechat/js/rem.js"></script>
    <script src="/static/wechat/js/qiniu.js"></script>
    <link href="/static/wechat/css/style.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>
<div class="container rankPage">
    <div class="box">
        <div class="box-title">
            7天内的图片
        </div>
        <div class="item-list">
            <div class="item" onclick="location='/wechat/discover/?rank=score'">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-defen.png" alt="" />
                </div>
                <div class="name">
                    得分
                </div>
                <div class="arrow">
                    <img src="/static/wechat/image/rightArrow.png" alt="" />
                </div>
            </div>
            <div class="item" onclick="location='/wechat/discover/?rank=vote'">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-zan.png" alt="" />
                </div>
                <div class="name">
                    获赞
                </div>
                <div class="arrow">
                    <img src="/static/wechat/image/rightArrow.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-title">
            经久不衰的图片
        </div>
        <div class="item-list" onclick="location='/wechat/discover/?rank=before_score'">
            <div class="item">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-defen.png" alt="" />
                </div>
                <div class="name">
                    得分
                </div>
                <div class="arrow">
                    <img src="/static/wechat/image/rightArrow.png" alt="" />
                </div>
            </div>
            <div class="item" onclick="location='/wechat/discover/?rank=before_vote'">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-zan.png" alt="" />
                </div>
                <div class="name">
                    获赞
                </div>
                <div class="arrow">
                    <img src="/static/wechat/image/rightArrow.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-title">
            最高的霸主
        </div>
        <div class="item-list">
            <div class="item" onclick="location='/wechat/ranks/users/?rank=score'">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-defen.png" alt="" />
                </div>
                <div class="name">
                    得分
                </div>
                <div class="arrow">
                    <img src="/static/wechat/image/rightArrow.png" alt="" />
                </div>
            </div>
            <div class="item" onclick="location='/wechat/ranks/users/?rank=vote'">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-zan.png" alt="" />
                </div>
                <div class="name">
                    获赞
                </div>
                <div class="arrow">
                    <img src="/static/wechat/image/rightArrow.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    {% include "_footer_bar.html" with active="paihang" only %}
</div>
</body>
</html>
