{% load humanize %}
{#{% load l10n %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页详情</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <script src="/static/wechat/js/rem.js"></script>
    <script src="/static/wechat/js/qiniu.js"></script>
    <link href="/static/wechat/css/style.css" type="text/css" rel="stylesheet"/>
    <link href="/static/wechat/css/swiper.min.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>
    <div class="container photo-detail">
        <div class="owner-box">
            <div class="avatar">
                <img src="{{ photo.user.userinfo.avatar_url }}" />
            </div>
            <span class="nickname">{{ photo.user.userinfo.nickname }}</span>
            <span class="score">{{ photo.created_at | naturaltime }}</span>
        </div>
        <div class="description-box">
            {{ photo.description }}
        </div>
        <div class="location-tag-box">
            <div class="icon">
                <img src="/static/wechat/image/icon/weizhi.png" />
            </div>
            <span class="location">北京/朝阳</span>

            <span class="tag">#我要上页面#</span>
            <span class="tag">#孔雀鱼#</span>
            <span class="tag">#买一赠一#</span>
        </div>
        <div class="image-box">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for url in photo.url %}
                        <div class="swiper-slide">
                            <div class="fishImg">
                                <img src="{{ url }}?imageView2/5/w/1280/h/1280"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
            <div class="icon active"></div>
        </div>
        <div class="image-meta-box">
            <div class="score-info">
                <span class="score-count">8988</span>
                <span class="score-word">人最终评分:</span>
                <span class="score">89.5分</span>
            </div>
            <span class="rule">评分规则</span>
        </div>
        {% if votes %}
        <div class="like-box">
            <div class="count">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-zan.png" />
                </div>
                <div class="number">8998</div>
            </div>
            {% for vote in votes %}
            <div class="avatar">
                <img src="{{ vote.user.userinfo.avatar_url }}" />
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="space-box"></div>
        <div class="comments-box">
            <div class="comments-count">
                29条评论
            </div>
            <div class="comments">
                {% for comment in comments %}
                <div class="comment">
                    <div class="comment-owner-box">
                        <div class="avatar">
                            <img src="{{ photo.user.userinfo.avatar_url }}" />
                        </div>
                        <div class="info">
                            <span class="nickname">{{ comment.user.userinfo.nickname }}</span>
                            <span class="score">{{ comment.created_at | naturaltime }}</span>
                        </div>

                    </div>
                    <p>{{ comment.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="comment-form-box">
            <input type="text" name="name" placeholder="说点什么吧">
            <button type="button" name="button">发布</button>
        </div>
    </div>
<script src="/static/wechat/js/swiper.jquery.min.js"></script>
<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    spaceBetween: 30
});
</script>
</body>
</html>
