<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的小鱼</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <link href="/static/wechat/css/guppiesStyle.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script>
        document.getElementsByTagName("html")[0].style.fontSize=window.screen.width/10+"px";
    </script>
</head>
<body>
<div class="myGuppies">
    <div class="myImg">
        <div><img src="{{ user.userinfo.avatar_url }}"/></div>
        <span>{{ user.userinfo.nickname }}</span>
    </div>
    <div class="myInfo">
        <div>
            <p class="first">已晒图</p>
            <p class="last">{{ user.userinfo.n_photo }}</p>
        </div>
        <div>
            <p class="first">总得分</p>
            <p class="last">{{ user.userinfo.n_total_mark }}</p>
        </div>
        <div>
            <p class="first">总被赞</p>
            <p class="last">{{ user.userinfo.n_vote }}</p>
        </div>
    </div>
    <div class="storeUp">收藏</div>
    {% include "_footer_bar.html" %}
</div>
{% include "_upload_image_box.html" %}
</body>
</html>
