<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小鱼</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <script src="/static/wechat/js/rem.js"></script>
    <script src="/static/wechat/js/qiniu.js"></script>
    <link href="/static/wechat/css/style.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>
<div class="container">

    <div class="rank">
        <header>
            <div class="headerBanner" style="background-image: url('{{ first_userinfo.avatar_url }}');">
                <div class="headerUserInfo">
                    <div class="avatar">
                        <img src="{{ first_userinfo.avatar_url }}" />
                    </div>
                    <p>
                        {{ first_userinfo.nickname }}&nbsp;&nbsp;占领了封面
                    </p>
                </div>
            </div>
            <div class="headerUser">
                <div class="avatar">
                    <img src="{{ user.userinfo.avatar_url }}" alt="" />
                </div>
                <div class="info">
                    <p class="name">
                        {{ user.userinfo.nickname }}
                    </p>
                    <p class="score">
                        第{{ user_rank }}名
                    </p>
                </div>
                <div class="score">
                    {{ user.userinfo.n_total_mark }}分
                </div>
            </div>
        </header>

        <div class="rankUserList">
            {% for userinfo in userinfos %}
                <div class="rankUser">
                    <div class="number">
                        {{ forloop.counter }}
                    </div>
                    <div class="avatar">
                        <img src="{{ userinfo.avatar_url }}" />
                    </div>
                    <div class="line">
                        <div class="nickname">{{ userinfo.nickname }}</div>
                        <div class="score">
                            {{ userinfo.n_total_mark }}分
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "_footer_bar.html" with active="faxian" only %}
</div>
</body>
</html>
