{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <link href="/static/wechat/css/guppiesStyle.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script>
        document.getElementsByTagName("html")[0].style.fontSize=window.screen.width/10+"px";
    </script>
</head>
<body>
<div class="doc">
    {% for photo in photos %}
        <div class="user">
            <a href="/wechat/photos/{{ photo.id }}">
                <div class="borderColor"></div>
                <div class="userInfo">
                    <div class="userImg"><img src="{{ photo.user.userinfo.avatar_url }}"/></div>
                    <span class="userName">{{ photo.user.userinfo.nickname }}</span>
                    <span class="userTime">{{ photo.created_at | naturaltime }}</span>
                    <div class="userText">{{ photo.description }}</div>
                </div>
                <div class="guppiesImg">
                    <img src="{{ photo.url }}?imageView2/5/w/1280/h/1280"/>
                </div>
                <div class="score">
                    <span>查看&nbsp;<em>{{ photo.n_total_watched }}</em></span>
                    <span>点赞&nbsp;<em>{{ photo.n_account_vote }}</em></span>
                    <span>评分&nbsp;<em class="fontColor">{{ photo.n_avg_mark }}</em></span>
                </div>
            </a>
        </div>
    {% endfor %}
    <div class="homePage-banner">
        <a href="#"><span>最新晒图</span></a>
        <a href="#"><span>排行</span></a>
        <label>
            <input type="file" id="imgInp"/>
            <span>上传图片</span>
        </label>
        <a href="#"><span>发现</span></a>
        <a href="#" class="last"><span>我的小鱼</span></a>
    </div>
</div>
<div class="alertBox1" style="display: none;">
    <div class="floats"></div>
    <div class="imgCut" id="imgCut1">确认截图&nbsp;></div>
    <div class="alert">
        <img id="blah" src=""/>
    </div>
    <div class="imgInfo">截取照片中最想展现的部分</div>
</div>
<div class="alertBox2" style="display: none;">
    <div class="floats"></div>
    <div class="imgCut" id="imgCut2">确认开晒！&nbsp;></div>
    <div class="alert">
        <textarea placeholder="输入您想说的话...必须10个字以上呦..."></textarea>
    </div>
</div>
</body>
</html>
