{% load humanize %}
{#{% load l10n %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页详情</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <script src="/static/wechat/js/rem.js"></script>
    <script src="/static/wechat/js/qiniu.js"></script>
    <link href="/static/wechat/css/style.css" type="text/css" rel="stylesheet"/>
    <link href="/static/wechat/css/swiper.min.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>
    <div class="container photo-detail">
        <div class="owner-box">
            <div class="avatar">
                <img src="{{ photo.user.userinfo.avatar_url }}" />
            </div>
            <span class="nickname">{{ photo.user.userinfo.nickname }}</span>
            <span class="score">{{ photo.created_at | naturaltime }}</span>
        </div>
        <div class="description-box">
            {{ photo.description }}
        </div>
        <div class="location-tag-box">
            <div class="icon">
                <img src="/static/wechat/image/icon/weizhi.png" />
            </div>
            <span class="location">{{ photo.city }}{% if photo.district %}/{{ photo.district }}{% endif %}</span>

{#            <span class="tag">#我要上页面#</span>#}
{#            <span class="tag">#孔雀鱼#</span>#}
{#            <span class="tag">#买一赠一#</span>#}
        </div>
        <div class="image-box">
            {% if photo.is_one_url %}
                <div class="fishImg">
                    <img src="{{ photo.url | first }}"/>
                </div>
            {% else %}
                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for url in photo.url %}
                            <div class="swiper-slide">
                                <div class="fishImg">
                                    <img src="{{ url }}"/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            {% endif %}
            <div class="icon{% if is_voted %} active{% endif %}"></div>
        </div>
        <div class="commented-detail-box{% if not is_marked %} hide{% endif %}">
            <div class="image-meta-box">
                <div class="score-info">
                    <span class="score-count">{{ photo.n_account_mark }}</span>
                    <span class="score-word">人最终评分:</span>
                    <span class="score">{{ photo.n_avg_mark }}</span>
                </div>
                <span class="rule">评分规则</span>
            </div>
            {% if votes %}
            <div class="like-box">
                <div class="count">
                    <div class="icon">
                        <img src="/static/wechat/image/icon/30-zan.png" />
                    </div>
                    <div class="number">{{ photo.n_account_vote }}</div>
                </div>
                {% for vote in votes %}
                <div class="avatar">
                    <img src="{{ vote.user.userinfo.avatar_url }}" />
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="space-box"></div>
            <div class="comments-box">
                <div class="comments-count">
                    {{ photo.n_account_comment }}条评论
                </div>
                <div class="comments">
                    {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-owner-box">
                            <div class="avatar">
                                <img src="{{ photo.user.userinfo.avatar_url }}" />
                            </div>
                            <div class="info">
                                <span class="nickname">{{ comment.user.userinfo.nickname }}</span>
                                <span class="score">{{ comment.created_at | naturaltime }}</span>
                            </div>

                        </div>
                        <p>{{ comment.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="comment-form-box">
                <input type="text" name="name" placeholder="说点什么吧">
                <button type="button" name="button">发布</button>
            </div>
        </div>

        <div class="uncomment-detail-box{% if is_marked %} hide{% endif %}">
            <div class="image-meta-box">
                <div class="score-info">
                    <span class="score-count">{{ photo.n_account_mark }}</span>
                    <span class="score-word">人最终评分</span>
                    <img src="/static/wechat/image/comment_to_see.png" />
                </div>
                <span class="rule">评分规则</span>
            </div>
            <div class="space-box"></div>
            <div class="score-box">
                <div class="description">
                    评分后才能看到相关评论
                </div>
                <div class="description">
                    (这么做是为了防止别人影响您的观点)
                </div>
                <div class="score-select">
                    <select id="photo-mark">
                        {% for mark in photo.mark_choices %}
                            {% if mark == 60 %}
                                <option value="{{ mark }}" selected>{{ mark }}</option>
                            {% else %}
                                <option value="{{ mark }}">{{ mark }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="btn" id="mark-submit-btn">
                    <span>完成</span>
                </div>
            </div>
        </div>
    </div>
<script src="/static/wechat/js/swiper.jquery.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        spaceBetween: 30
    });

    $(".image-box").click(function () {
        var icon = $('.image-box .icon');
        var is_voted = icon.hasClass('active');
        var data = {};
        $.ajax({
            method: is_voted ? 'DELETE' : 'POST',
            contentType: 'application/json',
            url: '/wechat/api/photos/{{ photo.id }}/votes',
            data: JSON.stringify(data),
            success: function (data) {
                if(is_voted) {
                    icon.removeClass('active');
                } else {
                    icon.addClass('active');
                }
            },
            error: function (data) {
                alert('提交失败' + JSON.stringify(data));
            }
        });
    });

    $("#mark-submit-btn").click(function () {
        var mark = $("#photo-mark").val();
        console.log('start to mark:', mark);
        var data = {mark: mark};
        $.ajax({
            method: 'POST',
            contentType: 'application/json',
            url: '/wechat/api/photos/{{ photo.id }}/marks',
            data: JSON.stringify(data),
            success: function (data) {
                document.location.reload()
            },
            error: function (data) {
                alert('提交失败' + JSON.stringify(data));
            }
        });
    });
</script>
</body>
</html>
