{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <script src="/static/wechat/js/rem.js"></script>
    <script src="/static/wechat/js/qiniu.js"></script>
    <link href="/static/wechat/css/style.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>

<div class="container">
    <div class="userWrap">
        {% for photo in photos %}
        <div class="user" onclick="location='/wechat/photos/{{ photo.id }}/'">
            <div class="userMes">
                <div class="userImg">
                    <img src="{{ photo.user.userinfo.avatar_url }}"/>
                </div>
                <div class="userName">{{ photo.user.userinfo.nickname }}</div>
                <div class="userTime">{{ photo.created_at | naturaltime }}</div>
            </div>
            <div class="fishMes">
                {{ photo.description }}
            </div>
            <div class="fishDetail">查看详情</div>
            <div class="fishImg">
                <img src="{{ photo.url }}?imageView2/5/w/1280/h/1280"/>
            </div>
            <div class="userExtraWrap">
                <div class="userExtra">
                    <div class="score">评分可见</div>
                    <div class="check"><span>{{ photo.n_total_watched }}</span>查看</div>
                    <div class="like"><span>{{ photo.n_account_vote }}</span>赞</div>
                    <div class="store"><span>{{ photo.n_avg_mark }}</span>收藏</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "_footer_bar.html" with active="zuixin" only %}
</div>
{% include "_upload_image_box.html" %}
</body>
</html>
