<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的小鱼</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <script src="/static/wechat/js/rem.js"></script>
    <script src="/static/wechat/js/qiniu.js"></script>
    <link href="/static/wechat/css/style.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>
<div class="container user">
    <div class="fishUser">
        <div class="header" style="background-image: url('/static/wechat/image/fishImg.png');">
            <div class="avatar">
                <img src="{{ user.userinfo.avatar_url }}" alt="" />
            </div>
            <div class="nickname">
                {{ user.userinfo.nickname }}
            </div>
            <div class="bio">
                不要在意某个阶段的失败，因为人生是不断清零的过程。请联系QQ：3323323
            </div>
        </div>
        <div class="score">
            <div class="block">
                <div class="name">
                    总得分
                </div>
                <div class="value">
                    {{ user.userinfo.n_total_mark }}
                </div>
            </div>
            <div class="block">
                <div class="name">
                    总被赞
                </div>
                <div class="value">
                    {{ user.userinfo.n_vote }}
                </div>
            </div>
        </div>
        <div class="linkList">
            <div class="link">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-fatie.png" alt="" />
                </div>
                <div class="name">我的发贴</div>
                <div class="arrow">
                    <img src="/static/wechat/image/rightArrow.png" alt="" />
                </div>
                <div class="count">{{ user.userinfo.n_photo }}</div>
            </div>
            <div class="link">
                <div class="icon">
                    <img src="/static/wechat/image/icon/30-zan.png" alt="" />
                </div>
                <div class="name">我赞过的</div>
                <div class="arrow">
                    <img src="/static/wechat/image/rightArrow.png" alt="" />
                </div>
                <div class="count">{{ user.userinfo.n_favorite }}</div>
            </div>
        </div>
    </div>
</div>
{% include "_upload_image_box.html" %}
</body>
</html>
