{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <script src="/static/wechat/js/jquery-1.11.3.js"></script>
    <script src="/static/wechat/js/guppies.js"></script>
    <script src="/static/wechat/js/rem.js"></script>
    <script src="/static/wechat/js/qiniu.js"></script>
    <link href="/static/wechat/css/style.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>
<div class="container likeUserRank">
        <div class="likeUserList">
            {% for vote in votes %}
            <div class="likeUser">
                <div class="avatar">
                    <img src="{{ vote.user.userinfo.avatar_url }}" alt="" />
                </div>
                <div class="userExtra">
                    <div class="info">
                        <div class="nickname">{{ vote.user.userinfo.nickname }}</div>
                        <div class="timeago"><span>{{ vote.created_at | naturaltime }}</span></div>
                    </div>
                    <div class="arrow">
                        <img src="/static/wechat/image/rightArrow.png" alt="" />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include "_footer_bar.html" %}
    </div>
</body>
</html>
